/* Laptop */
@media only screen and (max-width: 1024px) {

    .dishes__right {
        max-width: 100%
    }

    .start .menu li {
        margin: 0px 15px;
    }

    .home__right {
        top: auto;
        bottom: 0;
    }

    .home__left {
        align-items: center;
    }

    .home__text {
        transform: rotate(0);
        bottom: 5%;
    }

    .home__wheel {
        opacity: .8;
    }

    * {
        transition: ease-in-out .3s;
    }
}

/* Tablet */
@media only screen and (max-width:768px) {

    .start .menu li {
        margin: 0px 10px;
    }

    .home .countdown,
    .home .countdown__title {
        font-size: 35px;
    }

    .home__title {
        font-size: 60px;
    }

    .home__buttons {
        column-gap: 20px;
    }

    .home__wheel {
        opacity: .5;
    }
}

@media only screen and (max-width:610px) {
    /* .start .menu li {
        margin: 0px 5px;
    } */

    .booking__form input {
        width: 100%;
    }

    .booking__right,
    .dishes__left {
        font-size: 14px;
    }

    /* .menu .tabs__btn {
        padding: 8px;
    } */

    .events__item {
        font-size: 15px;
    }

    .home__middle {
        width: 100%;
    }

    .menu-list {
        flex-direction: column;
    }
}

@media only screen and (max-width: 510px) {
    .tabs__btns {
        flex-wrap: wrap;
    }

}

/* Mobile L */
@media only screen and (max-width: 425px) {
    .home__right {
        top: 75%;
    }

    .menu {
        margin-top: 30px;
    }

    /* .home .countdown,
    .home .countdown__title {
        font-size: 25px;
    } */

    .home .icon {
        width: 40px;
        height: 40px;
    }

    .home .round__btn {
        display: none;
    }

    .events__name {
        font-size: 18px;
    }

    .events__item {
        font-size: 10px;
    }

    /* .menu .tabs__btn {
        padding: 5px;
    } */

    .menu .tabs__dishes {
        row-gap: 10px;
    }

    .cube,
    .cube_s {
        border-width: 12px;
    }
}

/* Mobile M */
@media only screen and (max-width: 375px) {
    .home .btn {
        height: 40px;
    }

    .booking__right,
    .dishes__left {
        font-size: 10px;
    }
}

/* Mobile S */
@media only screen and (max-width: 320px) {}