@font-face {
  font-family: 'icon';

  src: url('../icon/icon.eot?61bh00#iefix') format('embedded-opentype'),

    url('../icon/icon.ttf?61bh00') format('truetype'),
    url('../icon/icon.woff?61bh00') format('woff'),
    url('../icon/icon.svg?61bh00#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
