* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    font-size: 12px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}


.visible {
    display: block;
}

.hidden {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: 'Banny';
    font-size: 33px;
    text-transform: uppercase;

    &_line {
        height: 4px;
        width: 50px;
        background: #E8C300;
        border-radius: 50px;
    }
}

.timer {
    width: 240px;
    height: 65px;
    background: rgba(196, 196, 196, 0.3);
}

.modal_open {
    overflow: hidden;
}

.modal_close {
    display: none;
}

//                                          -------SECTIONS--------

// Start SECTION ---------------------------- modal decrementare?-------------------------------------------

.start {
    background: url(../img/dest/header/header-bg.png) center/cover no-repeat;
    color: #fff;
    height: 100%;

    .header__container {
        border-bottom: 0.931856px solid rgba(255, 255, 255, 0.2);
    }

    .header__nav {
        justify-content: center;
    }

    .menu {
        display: flex;

        &-list {
            display: flex;
            height: 95px;
            align-items: center;
            justify-content: space-between;
        }

        li {
            margin: 0 25px;

            a {
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                padding: 40px 0;
            }
        }
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 9999;

        div {
            max-width: 800px;
            width: 90%;
            position: relative;
            margin: 10% auto;
            padding: 20px;
            border-radius: 3px;
            background: #fff;

            h2 {
                color: #000;
            }

            .close {
                cursor: pointer;
                background: #f26d7d;
                color: #fff;
                line-height: 25px;
                position: absolute;
                right: -12px;
                text-align: center;
                top: -10px;
                width: 34px;
                height: 34px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 50%;
                box-shadow: 1px 1px 3px #000;
                padding-top: 5px;

                &:hover {
                    background: #fa3f6f;
                }
            }



        }
    }
}

// home SECTION ++
.home {
    height: 100vh;
    text-align: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__left {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        z-index: 1;
    }

    &__subtitle {
        letter-spacing: 5px;
    }

    &__title {
        font-size: 80px;
        padding: 10px;
    }

    &__middle {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        height: 100%;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    &__buttons {
        display: flex;
        width: 60%;
        justify-content: space-between;
        margin-top: 30px;
    }

    .btn {
        border-radius: 4px;
        text-transform: uppercase;
        cursor: pointer;
        width: 185px;
        height: 55px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #E8C300;
        }
    }

    .round__btn {

        width: 40px;
        height: 40px;
        // padding: 20px;
        background: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border-radius: 50px;
        position: relative;
        top: 15%;
        cursor: pointer;

        a {
            padding: 15px;
            color: #000;
        }
    }

    &__timer {
        display: flex;
        background: rgba(196, 196, 196, 0.3);
        color: #ffff;
        // width: 240px;
        // height: 65px;
        position: absolute;
        left: 0;
        top: 5%;
        padding: 5px;
    }

    // ??
    .countdown {
        color: #fff;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        display: flex;

        &__title {
            font-size: 40px;
        }
    }

    .deadline__message {
        display: none;
        font-size: 24px;
        font-style: italic;
    }

    &__text {
        transform: rotate(-90deg) translateY(-50%);
        position: absolute;
        font-weight: bold;
        // left: 0;
        // top: 60%;
    }

    &__right {
        position: absolute;
        right: 5%;
        top: 50%;
        z-index: 1;
    }

    .icon {
        width: 56px;
        height: 56px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border-radius: 50px;
        margin-bottom: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;

        &:hover {
            background: #E8C300;
        }
    }

    &__wheel {
        top: 25px;
        position: absolute;

        img {
            transform: translateZ(0);
        }
    }
}

// booking SECTION ++
.booking {
    padding: 10px;

    &__container {
        display: flex;
        margin-top: 50px;
        margin-bottom: 25px;
        // justify-content: space-evenly;
        // justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 90px;
        row-gap: 50px;
        justify-content: center;
    }

    &__left {
        display: flex;
        flex-direction: column;
        text-align: -webkit-center;
        justify-content: center;
    }

    &__form {
        padding-top: 20px;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        ._incorect {
            background-color: red;
        }

        .contact__name {
            grid-area: 1 / 1 / 2 / 2;
        }

        .contact__tel {
            grid-area: 2 / 1 / 3 / 2;
        }

        .contact__date {
            grid-area: 3 / 1 / 4 / 2;
        }

        .contact__email {
            grid-area: 1 / 2 / 2 / 3;
        }

        .contact__people {
            grid-area: 2 / 2 / 3 / 3;
            background: #E5E5E5;
            color: rgba(51, 51, 51, 0.5);
            border-radius: 5px;
            padding: 15px 0 15px 20px;
            border: 0;
        }

        .contact__time {
            grid-area: 3 / 2 / 4 / 3;
        }

        .contact__button {
            grid-area: 4 / 1 / 5 / 3;
            text-transform: uppercase;
            width: 100%;
            font-weight: bold;
            background-color: #E8C300;
            color: #fff;
            font-size: 12px;
            cursor: pointer;
            border: 0;
            border-radius: 5px;
        }

        input {
            background: #E5E5E5;
            width: 260px;
            padding: 15px 0 15px 20px;
            border: 0;
            border-radius: 5px;
            color: rgba(51, 51, 51, 0.5);
        }
    }

    &__right {
        position: relative;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .cube_s {
        position: absolute;
        right: 0;
        // top: 25%;
        box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 50%);
        background-color: rgb(0 0 0 /5%);
    }

    &__image {
        // max-width: 440px;
        margin-right: 6.56em;
        border-radius: 5px;
        overflow: hidden;
        max-height: 440px;
        box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 50%);
    }

    &__text {
        text-align: center;
        color: rgba(51, 51, 51, 0.5);
        padding: 20px 0;

        span {
            font-weight: bold;
        }
    }
}

// dishes SEction  ++
.dishes {
    background: url(../img/dest/dishes/specialty.png) center/cover no-repeat;
    color: #fff;
    height: 100%;

    &__top {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        padding: 40px 0;
        font-weight: bold;
    }

    &-main {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-evenly;
        margin-bottom: 25px;
        justify-content: center;
        gap: 50px;
    }

    &__left {
        position: relative;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    &__image {
        // max-width: 440px;
        margin-left: 7.25em;
        border-radius: 5px;
        overflow: hidden;
        max-height: 442px;
    }

    .cube {
        position: absolute;
        // left: 0;
        // bottom: 25%;
    }

    .slider__indicators {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .marker {
        width: 10px;
        height: 10px;
        background-color: gray;
        border-radius: 50%;
        margin: 10px;

        &:nth-child(2) {
            background-color: #fff;
        }
    }

    &__title {
        padding: 10px;
    }

    &__right {
        text-align: -webkit-center;
        max-width: 40%;
        align-self: center;
    }

    &__text {
        font-size: 13px;
        padding-top: 10px;
        letter-spacing: 1px;

        span {
            font-weight: bold;
            color: rgba(255, 255, 255, 0.9);
        }

        p {
            padding-top: 15px;
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

// Menu Section ++
.menu {
    margin-top: 50px;

    .title_line {
        margin: 5px auto;
    }

    &__text {
        font-weight: bold;
        font-size: 13px;
        max-width: 400px;
        margin: 15px auto;
        line-height: 20px;
    }

    &__container {
        text-align: center;
    }

    // menu Tabs
    &__tabs {
        margin-top: 40px;
    }

    .tabs__btns {
        display: flex;
        // width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 auto;
        max-width: 780px;
    }

    .tabs__btn {
        flex: 1 1 100%;
        background-color: #ffff;
        border: none;
        padding: 15px;
        position: relative;
        cursor: pointer;
        outline: none;
        font-weight: bold;
        font-size: 12px;

        &:not(:last-child) {
            border-right: 1px solid rgba(51, 51, 51, 0.2);
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: blue;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.2s ease;
        }

        &.is-active {
            cursor: default;

            &:after {
                transform: scaleX(1);
            }
        }
    }

    .tabs__content {
        margin: 40px 0;
    }

    .tabs__item {
        padding: 8px;
        display: none;

        &.is-active {
            display: block;
        }
    }

    .item__dish {
        display: flex;
    }

    .dish__title {
        font-size: .95rem;
        font-family: "Banny";
        letter-spacing: 1px;
        text-align-last: start;
    }

    .dish__about {
        color: rgba(51, 51, 51, 0.5);
    }

    .dish__price {
        font-family: "Banny";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1rem;
        margin-left: 5px;
    }

    .tabs__dishes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 25px;
        text-align: start;
    }
}

// Events SECTION ++
.events {
    background: url(../img/dest/events/events-bg.png) center/cover no-repeat;
    color: #fff;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        padding: 40px 0;
        font-weight: bold;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        gap: 55px;
        justify-content: center;
    }

    &__item {
        position: relative;
        font-size: 16px;
        // max-width: 520px;
        max-width: 560px;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;

        // SECOND ITEM
        &:nth-child(2) {

            .events__image {
                margin: 0 7.25em 0 0;
            }

            .cube {
                right: 0;
            }

            .events__name {
                right: auto;
                transform: rotate(180deg);
            }
        }
    }

    .cube {
        width: 14.73em;
        height: 14.73em;
        position: absolute;
        // left: 0;
        // bottom: 25%;
    }

    &__name {
        font-size: 22px;
        position: absolute;
        // top: 41%;
        // right: -21%;
        // transform: rotate(90deg);
        background-color: black;
        padding: 24px 25px;
        // width: 365px;
        top: 0;
        writing-mode: vertical-rl;
        right: 0;
        height: 100%;
    }

    &__image {
        // max-width: 440px;
        // margin-left: 5em;
        margin-left: 7.25em;
        border-radius: 5px;
        overflow: hidden;

        max-height: 440px;
    }

    &__about {
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        padding: 40px 0;

        span {
            font-weight: bold;
        }
    }
}

//                      -----------SECTIONS END----------------



// Cubes Configuration

.cube {
    width: 15em;
    height: 14.7em;
    border: 18px solid #E8C300;
    border-radius: 5px;
}

.cube_s {
    width: 13.12em;
    height: 13.12em;
    border: 18px solid #E8C300;
    border-radius: 5px;
}